build*
!/build/.gitkeep
!.gitkeep
!.gitignore
.idea

*.bak
*#
.#*
*~
*.swp
.*.kate-swp
.*.swo
*.pyc

.DS_Store
CMakeFiles
CMakeCache.txt
CMakeLists.txt.user*

*.o
*.os
*.a
*.la
*.lo
*.so
*.dylib
moc_*

# eclipse stuff
.project
.pydevproject
.settings
.metadata
.cproject
.project
